:root {
    /* colors */
    --text: #0a0a0a;
    --background: #1F2329;
    --sectionBg: #4F4F4F;
    --sectionDiv: #2C2C2C;
    --linkColor: #d8d5cf;
    /* text-size */
    --headers: 3rem;
    --subHeaders: 1.5rem;
    /* width's */
    --aboutWidth: fit-content;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    background-color: var(--background);
    overflow: hidden;
}

header {
    display: flex;
    background-color: var(--sectionDiv);
    justify-content:space-between;
    align-items: center;
}

h1 {
    font-size: var(--headers);
    position: relative;
    left: 1rem;
}

nav {
    position: relative;
    right: 1rem;
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
}

nav ul li {
    list-style-type: none;
}

a,
a::after,
a::before {
    text-decoration: none;
    color: inherit;
}

h2,
h3 {
    font-size: var(--subHeaders);
}

p {
    font-size: 1.09rem;
}

/* ====================================== */
                /* About */
/* ======================================*/
.about {
    margin: 1.5rem;
    padding: 1rem;
    width: var(--aboutWidth);
    background-color: var(--sectionBg);
    display: grid;
    gap: 1rem;
    border-radius: 10px;
}

.about .why-a-todo-list p {
    margin: 0.5rem 0.5rem;
}

.about-why-a-todo-list-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-why-a-todo-list-container #horizontal-line{
    background-color: #ffffff;
    
    height: 2px;
}

.about .how-to-use .steps-how-to {
    margin: 0.5rem 1.5rem;
    display: grid;
}

.about .how-to-use .steps-how-to ol {
    display: grid;
    gap: 2.5px;
}

.about .steps-how-to ol article > li {
    font-weight: bold;
}

/* ====================================== */
/*                 footer                 */
/* ====================================== */
footer {
    width: 100%;
    position: fixed;
    justify-items: center;
    bottom: 0;
    background-color: var(--sectionDiv);
    font-size: 1.09rem;
}