/* 
    Color scheme:
    Jet Black (#0A0A0A)
    Charcoal (#2C2C2C) 
    Slate Gray (#4F4F4F) 
    Gunmetal (#1F2329)
    Neon Blue (#00FFFF)
    White Smoke (#F5F5F5)
*/

/* Para equipe CSS: 
    tenta colocar do jeito que eu tô fazendo, fica menos confuso. (heitor)
 pressione alt + Z para quebra automatica de linha
 requisição de responsivilidade(@media query) para o Tasker 
 de 574px de largura  em função de melhor funcionamento 
 da seção 'Tarefas Atuais' me CRIAR NOVO
 */

/* Para professor: 
 Foi decidido que haveria um único CSS para todas as páginas html
 se tiver sido uma ideia burra, pode reclamar!
 dá um desconto pela bagunça nas primeiras linhas
*/

@import url('https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100..900;1,100..900&display=swap');

.georama-fonts {
    font-family: "Georama", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}



* {
    margin: 0px;
    font-family: "Georama";
}

html {
    scroll-behavior: smooth;

    & body {
        background-color: #0A0A0A;
        color: #e8e4e4;
    }
}

html,
body {
    height: 100%;
    margin: 0;
}

main,
.profile {
    flex: 1;
}

header {
    /* 54-57 faz menu e nome do site na mesma linha */
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #1F2329;
    padding: 10px 5px;

    & h1 {
        /* h1 junto a "parede" tava feio, coloquei um padding */
        padding-left: 10px;
    }

    & nav {
        padding: 2px;

        & ul {
            /* faz nav ficar em linha e sem aparencia de lista */
            list-style-type: none;
            padding: 0px;
            margin: 0px;
            text-align: center;

            & li {
                display: inline-flex;
                margin-right: 15px;

                & a {
                    text-decoration: none;
                    color: #4F4F4F;
                }

                & a:hover {
                    color: #F5F5F5;
                }
            }
        }
    }
}

/* Seção para HOME em index.html */
.about {

    background-color: #1F2329;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin: 10px;
    padding: 20px;
    border-radius: 20px;

    & .how-to-use {
        margin: 10px 0px 10px 20px;

        & .itens {
            margin: 10px 0px 10px 20px;

            & #step {
                /* gambiarra para separar um passo (de Como Usar)
                do outro */
                margin-bottom: 5px;
            }
        }
    }
}

/* FIM */


/* Seção para TAREFAS em criar.html*/
main {

    padding: 10px 20px;
    display: grid;
    align-items: center;

    & #create-task {
        background-color: #1F2329;
        border-radius: 10px;
        padding: 10px;
        margin: 10px 0px;

        & .message {
            /*  */
            padding: 10px 10px 0px 0px;

            & #content {
                padding: 0px 0px 0px 10px;
            }

            /* under-message faz referencia aos botões 
            em baixo do input de criar tarefas */
            & #under-message {
                padding-top: 3px;
            }
        }

        /* #content é o input para criar tarefas */
        & #content {
            width: 100%;
            height: 25px;
            border-radius: 20px;
            border: none;
            resize: none;
            overflow: hidden;
        }

        /* inputs são os botões Adicionar e Cancelar */
        & .inputs {
            display: flex;
            margin: 5px 0px 0px 0px;
            gap: 15px;

            & button {
                border: none;
                border-radius: 8px;
                padding: 2px 5px;
            }
        }
    }

    /* Css para Tarefas Atuais */
    & #on-going {
        background-color: #1F2329;
        border-radius: 10px;
        padding: 10px;
        margin: 10px 0px;
        overflow: hidden;

        #head-tasks {
            /* dispõe 'Tarefas Atuais' e filtro
             de tarefas em linha única */
            display: flex;
            gap: 10px;
            justify-content: space-between;
        }

        #task-ongoing {
            padding-top: 10px;
        }
    }
}

/* Perfil section em perfil.html */
.profile {
    display: flex;
    flex-direction: row;

    /* Sidebar */
    & aside {
        background-color: #131619;
        padding: 10px 20px;

        & h1 {
            margin-bottom: 10px;
        }

        & ul {
            font-size: 15px;
            padding: 5px 20px;

            & li {

                & a {
                    text-decoration: none;
                    color: #4F4F4F;
                }

                & a:hover {
                    color: #F5F5F5;
                }
            }
        }
    }

    /* FIM sidebar */

    /* seção de 'edição de dados'*/
    & .dataTypes {
        width: 100%;
        padding: 10px 20px;
        font-size: 20px;

        & .inputs {
            display: flex;
            flex-direction: column;
            padding: 20px 0px;

            & form {
                display: flex;
                flex-direction: column;
                gap: 5px;

                & h3 {
                    padding-top: 5px;
                }

                & label {
                    padding: 5px 0px;

                    & p {
                        & small {
                            color: #4F4F4F;
                            font-size: 15px;
                        }
                    }

                    & #name {
                        background-color: #4F4F4F;
                        border-radius: 20px;
                        cursor: text;
                        border: none;
                    }

                    & #birthdate {
                        background-color: #4F4F4F;
                        color: #0A0A0A;
                        border-radius: 25px;
                        cursor: pointer;
                        border: none;
                        height: 15px;
                    }
                    /* meio autoexplicativo, mas isso ajusta
                     tamanho da preview de foto de perfil*/
                    & #profilePicture {
                        display: grid;
                        padding: 5px 10px;
                        cursor: pointer;

                        & #profilePicInput {
                            display: none;
                        }
                    }
                }

                & img {
                    height: 100px;
                    width: 100px;
                    object-fit: cover;
                    border-radius: 50%;
                }

                & #profilePic {
                    height: 150px;
                    width: 150px;
                    object-fit: cover;
                    border-radius: 50%;
                }

                & .buttons {
                    cursor: pointer;
                }
            }
        }
    }

    /* FIM EDIT DATA sec. */
}

/* FIM */


/* TELA DE LOGIN */
/* FUNDO */


.fundo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.fundo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.2);
}

/* FIM DO FUNDO */

.wrapper {

    /* 343-345 ajudam na visualização do perfil, mexer aqui
    vai distorcer toda a página */
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    & .tela-login {
        margin: 0 auto;
        display: flex;
        flex-wrap: nowrap;
        width: 90%;
        max-width: 900px;
        height: 450px;
        background-color: white;
        border-radius: 25px;
        box-shadow: 0px 0px 10px white;
        overflow: hidden;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    /* LADO ESQUERDO */
    & .bem-vindo {
        flex: 1 1 50%;
        min-width: 300px;
    }

    & .conteiner {
        flex: 1 1 50%;
        min-width: 350px;
    }

    & .tela-login .bem-vindo {
        flex: 1;
        background-color: #20201c;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 60px;
    }

    & .tela-login .bem-vindo h1 {
        font-size: 50px;
        margin-bottom: 10px;
        color: #f8f5f5;
    }

    & .tela-login .bem-vindo p {
        text-align: center;
        font-size: 16px;
        line-height: 1.5;
        color: #f8f5f5;
    }

    /* FIM DO LADO ESQUERDO */

    /* LADO DIREITO */
    & .tela-login .conteiner {
        flex: 1;
        background-color: #f1ebe3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1px;
    }

    & .tela-login .conteiner h2 {
        text-align: center;
        font-size: 32px;
        margin-bottom: 10px;
        color: #161615;
    }

    & .tela-login .conteiner form {
        align-items: center;
        width: 1000%;
        max-width: 300px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    & input {
        width: 100%;
        max-width: 300px;
        padding: 10px;
        border: none;
        background-color: #d8d5cf;
        border-radius: 100px;
        font-size: 15px;
    }

    & .tela-login .conect {
        padding: 25px 0px 10px 0px;
        color: #161615;
    }

    & .tela-login h6 {
        align-self: flex-end;
        font-size: 14px;
        color: #333;
        margin-top: 0px;
        margin-bottom: 10px;
        margin-right: 0px;
    }

    & .tela-login a {
        color: inherit;
        text-decoration: none;
    }

    & .tela-login img {
        justify-content: center;
        align-items: center;
        height: 30px;
        padding: 0px 15px 0px 15px;
    }

    & .tela-login button {
        padding: 10px;
        width: 100%;
        max-width: 300px;
        background-color: #161615;
        color: white;
        border: none;
        border-radius: 100px;
        cursor: pointer;
        font-size: 16px;
    }

    /* FIM DO LADO DIREITO */

    @media (max-width: 850px) {
        .tela-login {
            flex-direction: column;
            height: auto;
        }

        .bem-vindo {
            padding: 10px;

            .conteiner {
                padding: 10px;
                height: auto;
            }
        }
    }
}


footer {
    background-color: #1F2329;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 1.2rem;
}